<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mfc38.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mfc38office.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mfc38status.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mfcOffice.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>mfcWidget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mfcWiget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF04BD3D1D27D922009931E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF04BD521D27DD3C009931E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF1839301D9A101F00526788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9D327C1D378E9700BCEE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9D328B1D378EDC00BCEE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFACD5AF1D37494700F328A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFCA6E011D1CB3220061659D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFCA6E151D1CB3220061659D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFCA6E201D1CB3220061659D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
